# Logs and temp files
writable/logs/*
!writable/logs/index.html
writable/cache/*
!writable/cache/index.html
writable/debugbar/*
!writable/debugbar/index.html
writable/session/*
!writable/session/index.html

# Environment files
.env
.env.*

# Composer dependencies
/vendor

# Node dependencies
/node_modules

# IDEs and editors
*.sublime-project
*.sublime-workspace
*.vscode
/.idea
.DS_Store
Thumbs.db

# PHPStorm
.idea
*.iml

# CodeIgniter specific
**/logs/
**/cache/
**/debugbar/
**/sessions/
**/vendor/
**/node_modules/
